$authBackgroundColor: #06d6a0;
$backgroundColor: white;
$buttonColor: white;
$buttonBg: #ef476f;
$elevation1: 0px 0px 20px rgba(0,0,0, 0.5);
$outlineShadow: 0px 0px 5px rgba(0,0,0, .75);
$color: black;
$fadedColor: #999999;
$errorColor: #e63946;
$borderRadius: 20px;
$borderWidth: 2px;