@import 'variables';
@import 'generic';

#login, #register {
  display: none;

  &.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .speaking {
    font-size: 4rem;
    margin-bottom: 10px;
  }
}

#switch-to-login, #switch-to-register {
  cursor: pointer;
  color: $fadedColor;
  margin-top: 50px;

  span {
    color: $color;
    font-weight: bold;
  }
}

form {
  input#number {
    width: 80vw;
  }

  .error {
    margin-top: 10px;
    color: $errorColor;
  }
}

.inner-container {
  background: $backgroundColor;
  padding: 30px;
  border-radius: $borderRadius;
  width: 90vw;
  max-width: 500px;
  box-sizing: border-box;
  box-shadow: $elevation1;
  max-height: calc(95vh - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

body.page-auth {
  background: $authBackgroundColor;

  .inner-container {
    padding-top: 120px;

    @media (max-height: 800px) {
      padding-top: 30px;
    }
  }
}

body.page-home {
  background: $authBackgroundColor;

  .top-bar {
    background: $backgroundColor;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-shadow: $elevation1;

    .top-bar-inner {
      width: 90vw;
      max-width: 1100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      font-size: 0.85rem;
    }
  }

  .inner-container {
    margin-top: 60px; // offset by height of nav
    max-width: 50vw;
    width: auto;

    @media (max-width: 1200px) {
      width: 90vw;
      max-width: 500px;
    }
  }

  #dollars {
    position: relative;
    display: flex;
    align-items: center;
    
    label {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    #number {
      width: 100%;
      max-width: 625px;
      padding-left: 30px;
      margin-bottom: -2px;
    }
  }


  #words {
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    margin-top: 20px;
    overflow: auto;
  }
}