<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Andrew Jones technical test" />
  <title>Technical test</title>
  <link rel="stylesheet" type="text/css" href="./index.css?ver=1.00">
  <script src="./numberToWords.js?ver=1.00"></script>
  <script src="./index.js?ver=1.00"></script>
</head>

<body class="page-auth">
  <div class="inner-container">
    <div id="login" {%if login_error != blank or register_error == blank%} class="show" {%endif%}>
      <div class="speaking">🗣️</div>
      <h2>Sign in to your account.</h2>
      <form method="post" action="/login">
        <input type="text" name="username" value="{{username}}" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        {% if login_error.length > 0 %}
        <div class="error">{{ login_error }}</div>
        {% endif %}
        <input type="submit" value="Sign in" />
      </form>
      <div id="switch-to-register">Don't have an account? <span>Register.</span></div>
    </div>
  
    <div id="register" {%if register_error != blank and login_error == blank%} class="show" {%endif%}>
      <div class="speaking">🗣️</div>
      <h2>Register an account.</h2>
      <form method="post" action="/register">
        <input type="text" name="username" value="{{username}}" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        {% if register_error.length > 0 %}
        <div class="error">{{ register_error }}</div>
        {% endif %}
        <input type="submit" value="Register" />
      </form>
      <div id="switch-to-login">Have an account? <span>Sign in.</span></div>
    </div>
  </div>
</body>

</html>