<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Technical test</title>
  <link rel="stylesheet" type="text/css" href="./index.css?ver=1.00">
  <script src="./numberToWords.js?ver=1.00"></script>
  <script src="./index.js?ver=1.00"></script>
</head>

<body class="page-home">
  <div class="top-bar">
    <div class="top-bar-inner">
      <div>Hello, {{username}}.</div>
      <a href="/logout"><button>Logout</button></a>
    </div>
  </div>
  <div class="inner-container">
    <h2>Enter a dollar and cent amount below to see it as words.</h2>
    <div id="dollars">
      <label for="number">$</label>
      <input id="number" type="number" value="0" />
    </div>
    <div id="words"></div>
  </div>
</body>

</html>