@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px; }

html {
  font-size: 1.1rem;
  min-height: 100%;
  height: 100%;
  display: flex; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  form > * {
    margin-bottom: 10px; }
  form input[type="submit"] {
    margin-top: 10px; }

input[type="text"], input[type="password"], input[type="number"] {
  padding: 10px 15px;
  background: white;
  border: 2px solid black;
  color: black;
  border-radius: 20px;
  font-size: 0.9rem; }
  input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active, input[type="number"]:focus, input[type="number"]:active {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75); }

button, input[type="submit"] {
  font-weight: bold;
  color: white;
  background: #ef476f;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ef476f;
  transition: all 0.125s ease-in-out;
  font-size: 1rem;
  box-shadow: 0px; }
  button:hover, input[type="submit"]:hover {
    background: black;
    border-color: black;
    color: white; }
  button:focus, button:active, input[type="submit"]:focus, input[type="submit"]:active {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75); }

#login, #register {
  display: none; }
  #login.show, #register.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #login .speaking, #register .speaking {
    font-size: 4rem;
    margin-bottom: 10px; }

#switch-to-login, #switch-to-register {
  cursor: pointer;
  color: #999999;
  margin-top: 50px; }
  #switch-to-login span, #switch-to-register span {
    color: black;
    font-weight: bold; }

form input#number {
  width: 80vw; }

form .error {
  margin-top: 10px;
  color: #e63946; }

.inner-container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 90vw;
  max-width: 500px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  max-height: calc(95vh - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: auto; }

body.page-auth {
  background: #06d6a0; }
  body.page-auth .inner-container {
    padding-top: 120px; }
    @media (max-height: 800px) {
      body.page-auth .inner-container {
        padding-top: 30px; } }

body.page-home {
  background: #06d6a0; }
  body.page-home .top-bar {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }
    body.page-home .top-bar .top-bar-inner {
      width: 90vw;
      max-width: 1100px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    body.page-home .top-bar button {
      font-size: 0.85rem; }
  body.page-home .inner-container {
    margin-top: 60px;
    max-width: 50vw;
    width: auto; }
    @media (max-width: 1200px) {
      body.page-home .inner-container {
        width: 90vw;
        max-width: 500px; } }
  body.page-home #dollars {
    position: relative;
    display: flex;
    align-items: center; }
    body.page-home #dollars label {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%); }
    body.page-home #dollars #number {
      width: 100%;
      max-width: 625px;
      padding-left: 30px;
      margin-bottom: -2px; }
  body.page-home #words {
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    margin-top: 20px;
    overflow: auto; }
